body {
  font-size: 15px;
  line-height: normal;
  color: inherit;
  font-weight: normal;
  font-family: serif;
}
h1{
  font-size: 36px;
  line-height: normal;
  color: inherit;
  font-weight: normal;
  font-family: serif;
}
h2{
  font-size: 20px;
  line-height: normal;
  color: inherit;
  font-weight: normal;
  font-family: serif;
}
